{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static 'menu_bar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'index' %}"></a>
        <div class="search-container">
          
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'home' %}">
          <button>Profil</button>
        </form>
        {% else %}
        <form action="{% url 'login' %}">
          <button>Logowanie</button>
        </form>
        {% endif %}
      </nav>
    </header>

    <div class="parallax"></div>

    <footer>
      <p>Copyright &copy; 2020 - Umbrello</p>
    </footer>
  </body>
</html>