.u-section-1 .u-sheet-1 {
  min-height: 653px;
}
.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("../images/52e0d4474256b108f5d084609629317e113fdce15b4c704c7d277ad4954acd59_1280.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0;
}
.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  width: 749px;
  margin: 20px auto 0;
}
.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  width: 749px;
  margin: 13px auto 0;
}
.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  margin: 24px auto 46px;
  padding: 18px 43px 19px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 951px;
  }
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
  .u-section-1 .u-text-1 {
    width: 340px;
  }
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 61px;
}
.u-section-2 .u-btn-1 {
  margin: 8px 122px 0 auto;
}
.u-section-2 .u-btn-2 {
  margin: -46px 0 8px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }
  .u-section-2 .u-btn-2 {
    margin-top: 20px;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 500px;
}
.u-section-3 .u-text-1 {
  margin: 22px -30px 0 30px;
}
.u-section-3 .u-layout-wrap-1 {
  margin: 18px auto 60px 0;
}
.u-section-3 .u-layout-cell-1 {
  min-height: 134px;
}
.u-section-3 .u-container-layout-1 {
  padding: 30px;
}
.u-section-3 .u-text-2 {
  margin: 0;
}
.u-section-3 .u-layout-cell-2 {
  min-height: 134px;
}
.u-section-3 .u-container-layout-2 {
  padding: 30px;
}
.u-section-3 .u-text-3 {
  margin: 0;
}
.u-section-3 .u-layout-cell-3 {
  min-height: 133px;
}
.u-section-3 .u-container-layout-3 {
  padding: 30px;
}
.u-section-3 .u-text-4 {
  width: 510px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-layout-cell-4 {
  min-height: 133px;
}
.u-section-3 .u-container-layout-4 {
  padding: 30px;
}
.u-section-3 .u-text-5 {
  width: 510px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-layout-cell-5 {
  min-height: 133px;
}
.u-section-3 .u-container-layout-5 {
  padding: 30px;
}
.u-section-3 .u-text-6 {
  width: 510px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-layout-cell-6 {
  min-height: 133px;
}
.u-section-3 .u-container-layout-6 {
  padding: 30px;
}
.u-section-3 .u-text-7 {
  width: 510px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 235px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 110px;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 110px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 110px;
  }
  .u-section-3 .u-text-4 {
    height: 24px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 110px;
  }
  .u-section-3 .u-text-5 {
    height: 51px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 110px;
  }
  .u-section-3 .u-text-6 {
    height: 24px;
  }
  .u-section-3 .u-layout-cell-6 {
    min-height: 110px;
  }
  .u-section-3 .u-text-7 {
    height: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 352px;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 856px;
  }
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }
}
